* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    padding: 0em;
}

.top-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dfdfdf;
}

.top-navigation-left {
    padding-left: 2em;
    display: flex;
    align-items: center;
    gap: 3em;
}

.top-navigation-links {
    display: flex;
    gap: 2em;
}

.top-navigation-links a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 1em;
}

.top-navigation-right {
    display: flex;
}

.top-navigation-right a {
    text-decoration: none;
    color: black;
}

.top-navigation-right button {
    margin-right: 2em;
    border: 1px solid black;
    background-color: greenyellow;
    width: 150px;
    padding: 1em;
    border-radius: 15px;
    cursor: pointer;
}

.wrapper {
    
    margin-top: 5em;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 50px;
    padding: 2em;
    background-color: #fff;
    color: #888888;
}

.wrapper-links a {
    text-decoration: none;
    color: black;
    gap: 1em;
  }

.footer-navigation {
    background-color: #dfdfdf;
    margin-top: 5em;
    display: flex;
    padding: 2em;
    justify-content: space-between;
  }

.footer-navigation-cc {
    
    gap: 2em;
    padding: 1em;
    font-size: smaller;
  }

.footer-navigation-right {
    display: flex;
    gap: 1em;
    align-items: right;
  }

.footer-navigation button {
    margin-right: 2em;
    border: 1px solid black;
    background-color: lightcoral;
    width: 150px;
    padding: 1em;
    border-radius: 15px;
    cursor: pointer;
}